# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Flask
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Download directories
downloaded_images/
BulkImageDownloader/ 